h6 {
    font-size: 12pt;
    margin-bottom: 0.2px;
    margin-left: 10px;
}

input {
    margin-left: 10px;
}

<<<<<<< HEAD
button{
=======
button {
    font-size: 12pt;
    margin-bottom: 0.2px;
>>>>>>> 57fb5c7bad0c84a26a6756abb9f7b9867b93b14b
    margin-left: 10px;
}