<div>
    List of all present YesProfiles:
    <ul>
        <li *ngFor="let yesProfile of yesProfiles">id: {{ yesProfile.id }} has userName: {{ yesProfile.userName }}</li>
    </ul>
  
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#yesProfileModal">
  Click to make a new YESprofile
</button>

<!-- Modal -->
<div class="modal fade" id="yesProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make a new YESprofile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <input type="text" [(ngModel)]="myYesProfile.userName" placeholder="i.e monalisa">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onKlik()" class="btn btn-primary">Save YESprofile</button>
      </div>
    </div>
  </div>
</div>