<div>
    List of Movies:
    <ul>
        <li *ngFor="let movie of movieList">
           id: {{ movie.id }} title: {{ movie.title }} IMDB rating: {{movie.imdbRating}}
        </li>
    </ul>
  
  
  
  <input type="text" [(ngModel)]="myMovie.title" placeholder="i.e The Lion King">
  <input type="text" [(ngModel)]="myMovie.imdbRating" placeholder="i.e 8.5">
  <input type="text" [(ngModel)]="myMovie.releaseYear" placeholder="i.e 1994">
  <button (click)="onKlik()">save movie</button>
  
  </div>

  <!--{{myMovie| json}}-->
  